.gamesCard__div{
  width: 17em;
  border-radius: 1em;
  color: #ffffff;
  background-color: #121212;
}

.gamesCard__div:hover{
  background-color: #6019D9;
  transform: scale(1.1);
}

.gamesCard__div_h3_img{
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gamesCard__div_h3_img_h3{
  padding-right: 0.3em;
}

.gamesCard__img{
  border-radius: 0.7em;
}

.gamesCard__div_flexCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}