.error404__div{
  color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error404__div_text{
  margin-right: 7em;
}

.error404__div_h1{
  margin: 0 0 0.1em 0;
  font-size: 11em;
}

.error404__div_h2{
  margin: 0;
  font-size: 2em;
}

.error404__div_h3{
  font-size: 1.5;
  width: 20em;
}