.homeBestGamesContainer__div{
  background-color: #000000;
  width: 19em;
  height: 100%;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeBestGamesContainer__div__h3{
  color: #ffffff;
}