.headerContainer__div{
  width: 100%;
  height: 2.5em;
  z-index: 9990;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer__div__input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer__img_input{
  margin-top: 2.2em;
  margin-right: 34.5em;
  position: absolute;
  width: 2em;
  height: 2em;
}

.headerContainer__input{
  font-size: 1em;
  color:#ffffff;
  padding: 0.6em 15em 0.6em 2.7em;
  background-color: #000000b9;
  box-shadow: 0 0 17px 0  #ffffff5f;
  margin: 1.5em 0 0 1.5em;
  border-radius: 0.3em;
  border-color: transparent;
}

.headerContainer__input::placeholder{
  color: #ffffff;
}

.headerContainer__button{
  color: #ffffff;
  background-color: #000000b9;
  box-shadow: 0 0 17px 0  #ffffff5f;
  border-radius: 0.5em;
  margin-top: 3em;
  margin-left: 1em;
  width: 5em;
  height: 3em;
}

.headerContainer__button:hover{
  cursor: pointer;
  background-color:  #6C07C7
}

.headerContainer__notification{
  margin: 2.6em 0 0 1em;
  height: 3em;
  width: 3em;
}

.headerContainer__div_h5_img{
  margin: 3em 26em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer__div_h5{
  color: #ffffff;
  font-size: 1.3em;
  margin-right: 1.2em;
}

.headerContainer__div_img{
  border-radius: 100%;
  width: 4.2em;
  height: 4.2em;
}