.itemDetail__div{
  color: #ffffff;
  margin: 5em 0 0 5em;
  display: flex;
}

.itemDetail__div_div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.itemDetail__div_img{
  width: 30%;
  padding: 1em;
  margin-top: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.itemDetail__div_img_h3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemDetail__div_img_border{
  border-radius: 1em;
}

.itemDetail__div_img_h3_released{
  font-size: 2em;
}

.itemDetail__div_info{
  background-color: #6C07C7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.itemDetail__div__rating{
  width: 100%;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.itemDetail__div__rating_h3{
  font-size: 1.7em;
  margin-right: 0.3em;
}

.itemDetail_h1{
  text-align: center;
  margin: 0 0 0.3em 0;
  font-size: 5em;
}

.itemDetail__div_info_button_flex{
  width: 40em;
  margin-left: 20em;
  display: flex;
  flex-wrap: wrap;
}

.itemDetail__div_description{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.itemDetail__div_description_h3{
  font-size: 2em;
  margin: 0.5em 5em 0 0;
}

.itemDetail__div_description_p{
  width: 47em;
  margin-left: 24em;
}

.itemDetail__div_description_imgExtra{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemDetail__div_description_imgExtra_img{
  margin-top: 1em;
}

.itemDetail__div_games{
  color: #ffffff;
  background-color: #191919;
  margin: 3em 2em 0 2em;
  border-radius: 1em;
}

.itemDetail__div_games_div_button{
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.itemDetail__div_games_h3{
  font-size: 1.8em;
  margin-left: 2em;
}

.itemDetail__div_games_div_button_border{
  margin: 0.5em;
  color: #6C07C7;
  font-size: 0.9em;
  background-color: transparent;
  border-width: 0.3em;
  border-color: #6C07C7;
  border-radius: 100%;
  height: 3.5em;
  width: 3.5em;
}

.itemDetail__div_games_div_button_border:hover{
  width: 4em;
  height: 4em;
  color: #ffffff;
  background-color: #6C07C7;
  cursor: pointer;
}

.itemDetail__div_games_flex{
  display: flex;
}

.itemDetail__div_games_flex_column{
  background-color: #000000;
  border-radius: 1em;
  width: 16em;
  padding-top: 2em;
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemDetail__div_games_flex_column:hover{
  background-color: #6C07C7;
}

.itemDetail__div_games_h5{
  padding: 0 0.5em 0 0.5em;
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}

.itemDetail__div_games_div_button{
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.itemDetail__div_games_button{
    color: #ffffff;
    border-width: 0.1em;
    border-color: #6019D9;
    background-color: transparent;
    border-radius: 1em;
}